[submodule ".config/vim/bundle/syntactic"]
	path = .config/vim/bundle/syntactic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".config/vim/bundle/vim-airline"]
	path = .config/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".config/vim/bundle/vim-fugitive"]
	path = .config/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".config/vim/bundle/vim-go"]
	path = .config/vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".config/vim/bundle/YouCompleteMe"]
	path = .config/vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".config/vim/bundle/colorscheme-tomorrow"]
	path = .config/vim/bundle/colorscheme-tomorrow
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
