[submodule ".config/vim/bundle/vim-airline"]
	path = .config/vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule ".config/vim/bundle/vim-fugitive"]
	path = .config/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
